{% block head %}
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚁</text></svg>">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/style.css" />

<meta charset="utf-8">
<meta name="description" content="blog by sakib hasan">

<meta property="og:title" content="reveillze.xyz">
<meta property="og:type" content="personal blog">
<meta property="og:url" content="https://reveillze.xyz/">

<meta name="theme-color" content="#fafafa">
{% endblock %}
